//___________________________
// start colors
$main-color: #831a95;
$alt-color: #821a95bb;

$white-color: #ffffff;
$light-color: #f1f5f9;
$eee-color: #eee;

$gray-color: #aaa;

$blue-color: #03a9f4;
$alt-blue-color: #03a8f420;

$orange-color: #f59e0b;
$alt-orange-color: #f59e0b20;

$red-color: #e91e63;
$alt-red-color: #e91e6320;

$green-color: #22c55e;
$alt-green-color: #22c55e20;

$black-color: #121212;

//___________________________
// start colors
//___________________________
// start flex box
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-q {
  gap: 0.25rem;
}

.gap-h {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

//___________________________
// end flex box

//___________________________
// start grid system
.d-grid {
  display: grid;
}

.d-block {
  display: block;
}

.gap-20 {
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .mobile-d-block {
    display: block;
  }

  .mobile-d-none {
    display: none;
  }
}

@media screen and (max-width: 551px) {
  .mobile-d-grid {
    display: grid;
  }
}

//___________________________
// end grid system

//___________________________
// start padding & margin

.p-0 {
  padding: 0;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.p-20 {
  padding: 20px;
}

.m-20 {
  padding: 20px;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .mobile-margin-auto {
    margin: auto;
  }
}

//___________________________
// end padding & margin

//___________________________
// start background

.bg-white {
  background-color: $white-color;
}

.bg-eee {
  background-color: $eee-color;
}

.bg-blue {
  background-color: $blue-color;
}

.bg-orange {
  background-color: $orange-color;
}

.bg-green {
  background-color: $green-color;
}

.color-white {
  color: $white-color;
}

.color-black {
  color: $black-color;
}

.color-gray {
  color: $gray-color;
}

.color-blue {
  color: $blue-color;
}

.color-orange {
  color: $orange-color;
}

.color-red {
  color: $red-color;
}

.color-green {
  color: $green-color;
}

//___________________________
// end background

//___________________________
// start text
.text-center {
  text-align: center;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-1 {
  font-size: 1em;
}

.font-25 {
  font-size: 25px;
}

.font-bold {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .mobile-text-center {
    text-align: center;
  }
}

//___________________________
// end text

//___________________________
// start border
.relative {
  position: relative;
}

.hidden {
  overflow: hidden;
}

.border-raduis-6 {
  border-radius: 6px;
}

.border-raduis-10 {
  border-radius: 10px;
}

.border-none {
  border: none;
}

.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .mobile-width-100 {
    width: 100%;
  }
}

//___________________________
// end border