.head {
    .search {
        border: 1px solid $gray-color;
        padding: 3px 1rem;
        border-radius: 1rem;
        color: $black-color;
        &::before {
            content: "\f002";
            font-family: var(--fa-style-family-classic);
            font-weight: 900;
            font-size: 14px;
        }
        input {
            border: none;
            max-width: 140px;
            &:focus {
                color: $black-color;
            }
            &::placeholder {
                color: $gray-color;
            }
        }
    }
    .icons {
        .notification {
            &::before {
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: $red-color;
                border-radius: 50%;
                top: -2px;
                left: -4px;
            }
        }
        img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            box-shadow: $gray-color 0px 1px 0px 0px;
        }
    }
}

@media screen and (max-width: 768px) {
    .head .search input {
        max-width: 60px;
    }
}
