* {
    font-family: "Cairo", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

*:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
}

.page {
    min-height: 100vh;
    background-color: $light-color;
}
