@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap");
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gap-q {
  gap: 0.25rem;
}

.gap-h {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.p-0 {
  padding: 0;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.m-20 {
  padding: 20px;
}

.mt-0 {
  margin-top: 0;
}

.bg-white {
  background-color: #ffffff;
}

.color-black {
  color: #121212;
}

.text-center {
  text-align: center;
}

.font-1 {
  font-size: 1em;
}

.relative {
  position: relative;
}

.hidden {
  overflow: hidden;
}

.radius-raduis-6 {
  border-radius: 6px;
}

.w-full {
  width: 100%;
}

* {
  font-family: "Cairo", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}

.page {
  min-height: 100vh;
  background-color: #f1f5f9;
}

.page h1 {
  margin: 20px 20px 40px;
}

.page h1::before, .page h1::after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -5px;
  left: 0;
}

.page h1::before {
  background-color: white;
  width: 120px;
}

.page h1::after {
  background-color: #121212;
  width: 40px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #831a95;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #821a95bb;
}

.sidebar {
  overflow: hidden;
  min-width: 210px;
}

.sidebar .logo {
  margin-bottom: 1rem;
}

.sidebar .logo img {
  max-width: 35px;
}

.sidebar .logo span {
  font-weight: 600;
  font-size: 15px;
}

.sidebar span {
  display: block;
  position: relative;
}

.sidebar ul li a {
  margin-bottom: 0.4rem;
  overflow: hidden;
}

.sidebar ul li a.active, .sidebar ul li a:hover {
  color: #831a95;
  font-weight: 600;
  background-color: #f1f5f9;
}

.sidebar ul li a.active span, .sidebar ul li a:hover span {
  padding-left: 0.25rem;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 84px;
    min-width: initial;
  }
  .sidebar:hover {
    width: 250px;
  }
  .sidebar:hover span {
    right: initial;
  }
  .sidebar .logo img {
    max-width: 38px;
    max-height: 35px;
  }
  .sidebar span {
    right: -150%;
  }
}

.head .search {
  border: 1px solid #888;
  padding: 3px 1rem;
  border-radius: 1rem;
  color: #121212;
}

.head .search::before {
  content: "\f002";
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  font-size: 14px;
}

.head .search input {
  border: none;
  max-width: 140px;
}

.head .search input:focus {
  color: #121212;
}

.head .search input::-webkit-input-placeholder {
  color: #888;
}

.head .search input:-ms-input-placeholder {
  color: #888;
}

.head .search input::-ms-input-placeholder {
  color: #888;
}

.head .search input::placeholder {
  color: #888;
}

.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ff5722;
  border-radius: 50%;
  top: -2px;
  left: -4px;
}

.head .icons img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-box-shadow: #888 0px 1px 0px 0px;
          box-shadow: #888 0px 1px 0px 0px;
}

@media screen and (max-width: 768px) {
  .head .search input {
    max-width: 60px;
  }
}
/*# sourceMappingURL=master.css.map */