@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap");
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gap-q {
  gap: 0.25rem;
}

.gap-h {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.d-block {
  display: block;
}

.gap-20 {
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .mobile-d-block {
    display: block;
  }
  .mobile-d-none {
    display: none;
  }
}

@media screen and (max-width: 551px) {
  .mobile-d-grid {
    display: -ms-grid;
    display: grid;
  }
}

.p-0 {
  padding: 0;
}

.p-10 {
  padding: 10px;
}

.p-15 {
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.m-20 {
  padding: 20px;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .mobile-margin-auto {
    margin: auto;
  }
}

.bg-white {
  background-color: #ffffff;
}

.bg-eee {
  background-color: #eee;
}

.bg-blue {
  background-color: #03a9f4;
}

.bg-orange {
  background-color: #f59e0b;
}

.bg-green {
  background-color: #22c55e;
}

.color-white {
  color: #ffffff;
}

.color-black {
  color: #121212;
}

.color-gray {
  color: #aaa;
}

.color-blue {
  color: #03a9f4;
}

.color-orange {
  color: #f59e0b;
}

.color-red {
  color: #e91e63;
}

.color-green {
  color: #22c55e;
}

.text-center {
  text-align: center;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-1 {
  font-size: 1em;
}

.font-25 {
  font-size: 25px;
}

.font-bold {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .mobile-text-center {
    text-align: center;
  }
}

.relative {
  position: relative;
}

.hidden {
  overflow: hidden;
}

.border-raduis-6 {
  border-radius: 6px;
}

.border-raduis-10 {
  border-radius: 10px;
}

.border-none {
  border: none;
}

.w-full {
  width: 100%;
}

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .mobile-width-100 {
    width: 100%;
  }
}

* {
  font-family: "Cairo", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
  height: 132px;
}

.main-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.submit {
  background-color: #831a95;
  padding: 3px 1rem;
  border: none;
  outline: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.submit:hover {
  background-color: #821a95bb;
}

.page {
  min-height: 100vh;
  background-color: #f1f5f9;
  padding-bottom: 1rem;
}

.page h1 {
  margin: 20px 20px 40px;
}

.page h1::before, .page h1::after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -5px;
  left: 0;
}

.page h1::before {
  background-color: white;
  width: 120px;
}

.page h1::after {
  background-color: #121212;
  width: 40px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #831a95;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #821a95bb;
}

.sidebar {
  overflow: hidden;
  min-width: 210px;
}

.sidebar .logo {
  margin-bottom: 1rem;
}

.sidebar .logo img {
  max-width: 35px;
}

.sidebar .logo span {
  font-weight: 600;
  font-size: 15px;
}

.sidebar span {
  display: block;
  position: relative;
}

.sidebar ul li a {
  margin-bottom: 0.4rem;
  overflow: hidden;
}

.sidebar ul li a.active, .sidebar ul li a:hover {
  color: #831a95;
  font-weight: 600;
  background-color: #f1f5f9;
}

.sidebar ul li a.active span, .sidebar ul li a:hover span {
  padding-left: 0.25rem;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 84px;
    min-width: initial;
  }
  .sidebar:hover {
    width: 250px;
  }
  .sidebar:hover span {
    right: initial;
  }
  .sidebar .logo img {
    max-width: 38px;
    max-height: 35px;
  }
  .sidebar span {
    right: -150%;
  }
}

.head .search {
  border: 1px solid #aaa;
  padding: 3px 1rem;
  border-radius: 1rem;
  color: #121212;
}

.head .search::before {
  content: "\f002";
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  font-size: 14px;
}

.head .search input {
  border: none;
  max-width: 140px;
}

.head .search input:focus {
  color: #121212;
}

.head .search input::-webkit-input-placeholder {
  color: #aaa;
}

.head .search input:-ms-input-placeholder {
  color: #aaa;
}

.head .search input::-ms-input-placeholder {
  color: #aaa;
}

.head .search input::placeholder {
  color: #aaa;
}

.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f59e0b;
  border-radius: 50%;
  top: -2px;
  left: -4px;
}

.head .icons img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.wrapper {
  -ms-grid-columns: (minmax(450px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-right: 20px;
  margin-left: 20px;
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  .head .search input {
    max-width: 60px;
  }
  .wrapper {
    -ms-grid-columns: minmax(200px, 1fr);
        grid-template-columns: minmax(200px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
    gap: 10px;
  }
}

.wrapper .welcome {
  overflow: hidden;
}

.wrapper .welcome .intro img {
  max-width: 210px;
}

.wrapper .welcome .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  padding: 2px;
  margin-left: 20px;
  margin-top: -25px;
}

.wrapper .welcome .body {
  border-bottom: 1px solid #aaa;
}

.wrapper .welcome .body > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper .welcome .visit {
  background-color: #831a95;
  margin: 0 15px 15px auto;
  padding: 3px 1rem;
}

.wrapper .welcome .visit:hover {
  background-color: #821a95bb;
}

.wrapper .targets .target-row.money .icon {
  background-color: #03a8f420;
}

.wrapper .targets .target-row.money .progress {
  background-color: #03a8f420;
}

.wrapper .targets .target-row.money .progress > span span::after {
  border-color: #03a9f4 transparent transparent;
}

.wrapper .targets .target-row.projects .icon {
  background-color: #f59e0b20;
}

.wrapper .targets .target-row.projects .progress {
  background-color: #f59e0b20;
}

.wrapper .targets .target-row.projects .progress > span span::after {
  border-color: #f59e0b transparent transparent;
}

.wrapper .targets .target-row.team .icon {
  background-color: #22c55e20;
}

.wrapper .targets .target-row.team .progress {
  background-color: #22c55e20;
}

.wrapper .targets .target-row.team .progress > span span::after {
  border-color: #22c55e transparent transparent;
}

.wrapper .targets .target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}

.wrapper .targets .target-row .details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper .targets .target-row .details .progress {
  height: 6px;
  border-radius: 10px;
}

.wrapper .targets .target-row .details .progress > span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.wrapper .targets .target-row .details .progress > span span {
  position: absolute;
  right: -16px;
  bottom: 15px;
  padding: 0 5px;
  font-size: 12px;
  color: white;
  width: 32px;
}

.wrapper .targets .target-row .details .progress > span span::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -12px;
  border-width: 6px;
  width: 0;
  height: 0;
  border-style: solid;
}

.wrapper .tickets .boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(48%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
}

.wrapper .tickets .boxes .box {
  border: 1px solid #aaa;
}

.wrapper .latest-news .news-row:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #aaa;
}

.wrapper .latest-news .news-row img {
  width: 100px;
  border-radius: 6px;
  margin-right: 1rem;
}

.wrapper .latest-news .news-row .info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .latest-news .news-row .info h3 {
  margin: 0 0 5px;
  font-size: 1rem;
}

.wrapper .tasks .task-row.done {
  opacity: 0.7;
}

.wrapper .tasks .task-row.done h3,
.wrapper .tasks .task-row.done p {
  text-decoration: line-through;
}

.wrapper .tasks .task-row:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #aaa;
}

.wrapper .tasks .task-row .info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper .tasks .task-row .delete {
  color: #e91e63;
  cursor: pointer;
}

.wrapper .tasks .task-row .delete:hover {
  color: #e91e6320;
}

@media screen and (max-width: 768px) {
  .welcome .intro {
    padding-bottom: 30px;
  }
}
/*# sourceMappingURL=master.css.map */